.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.link-tree>ul{
    font-size: 18px;
    display: flex;
    list-style: none;
}

.link-tree > ul > li{
    pad: 10px;
    margin: 10px;
}

.logo{
    width: 100px;
    height: 100px;
}

.restoCard{
    width: 200px;
    height: 300px;
    padding: 5px;
    background-color:#f0f0f0;
    margin: 10px;
}

.restoCard:hover{
    border: 1px solid black;
    cursor: pointer;
}

.restoImg{
    width: 100%;
    height: 40%;
}

.search{
    padding: 10px;
}

.resto-Container{
    display: flex;
    flex-wrap:wrap;
}

.shimmer-Container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer{
    width: 200px;
    height: 300px;
    padding: 5px;
    background-color:#f0f0f0;
    margin: 10px;
}

.searchBox{
    display: flex;
    margin: 5px;
}

.searchBtn{
    margin-right: 5px;
    margin-left: 5px;
}

.restaurantDetails{
    margin-left: 20%;
    margin-right: 20%;
}

.restInfo{
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px 5px lightblue;
    padding-left: 10px;
}

.restName{
    font-family: 'Verdana'
}

.cusines{
    color:orangered;
}

.menu{
    border: 1px solid black;
    margin-top: 10px ;
    margin-bottom: 10px;
    border-radius: 10px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
}

.menuImg{
    height: 200px;
    width: 200px;
    margin: 25px;
    border-radius: 10px;
}

.user-card{
    border : 1px solid black;
    height: 200px;
    width: 400px;
    margin: 25px;
    border-radius: 10px;
}